
@{
    ViewData["Title"] = "authorization";
}

<h1>authorization</h1>

<div class="link4">
    <ul>
        <li><a href="https://localhost:44360/CodeCompany/index"> company type</a></li>
        <li><a href="https://localhost:44360/CodeNationality/index"> nationality type</a></li>
        <li><a href="https://localhost:44360/CodeUniversty/index"> Universty type</a></li>
        <li><a href="https://localhost:44360/UserType/index"> user type</a></li>
    </ul>
</div>

