@{
    ViewData["Title"] = "student information and their courses";
}
<h1>@ViewData["Title"]</h1>


<div class="link2">
    <ul>
        
        <li><a href="https://localhost:44360/StudentMaster/index"> student information </a></li>
        <li><a href="https://localhost:44360/Course/index"> mangment of Courses</a></li>
    </ul>
</div>