
@{
    ViewData["Title"] = "registration";
}

<h1> User registration</h1>

<div>

    <p><a href="https://localhost:44360/StudentMaster/Create">Registration as Student User </a></p>
    <p><a href="https://localhost:44360/Company/Create">Registration as Company User </a></p>
    <p><a href="https://localhost:44360/University/Create">Registration as University User </a></p>

    @*<p><a href="https://localhost:44360/User/Create"> step 2 </a></p>*@


</div>